/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.header, .footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* .navbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
} */

/* .section {
  padding: 40px 0;
  border-bottom: 1px solid #dddddd;
} */
