.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  color: #20232a;
  font-size: 0.8rem;
  text-align: center; 
  font-family: 'Open Sans', Arial, sans-serif; 
}
