.skills-title {
    color: #ffffff; 
    margin-bottom: 5px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
  }
  
  .skill-item {
    color: #ffffff; 
  }
  